
.interna_sobre{

	background: url("../img/bg-produtos.jpg") no-repeat center;
}


.introducao-interna h1 {
	font-size: 42px;
	color: 	#fff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin-top: 12px;
}


.introducao-interna h1:after{
		content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FFF;
	margin: 8px auto 10px auto;

}

.introducao-interna p{
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.missao-sobre{
	padding-top: 60px
}

.missao-sobre p{
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 50px;
}

.missao-sobre ul li{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	line-height: 30px;

}

.foto-equipe{
	padding-top: 40px;
}

.subtitulo-sobre{
	font-size: 24px;
	color: 	#000;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
	margin-top: 12px;
	text-align: left;

}

.subtitulo-sobre:after{

	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 8px 0 20px;


}


.produtos-secao{
	padding-top: 40px;

}

.produtos-secao h2{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;
	top: -174px;
	left: 240px;
	color: #fff;
	margin: -20px 0;

}

.produtos-secao h2:before{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #fff;
	margin: 0 70px;


}

.produtos-secao h2:after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background: #fff;
	margin: 0 70px;
 
}

.produto-icone{
	background-color: #000;
	padding: 70px 23px;
}

.produtos-info{
	background-color: #000;
}

.produtos-info p{
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	padding: 14px 40px;
}

.produtos-info ul li{
	background-color: #FEC63E;
	font-weight: 18px;
	font-weight: bold;
	letter-spacing: .1em;
	text-transform: uppercase;
	line-height: 20px;
	float: left;
	width: 229px;
	height: 49px;
	text-align: center;
	padding-top: 10px;
}

.produtos-info ul li:nth-child(1),.produtos-info ul li:nth-child(2){

	margin-bottom: 2px;

}

.produtos-info ul li:nth-child(even){
	margin-left: 2px;
}


 /* Orçamento*/

 .orcamento{
 	background-color: #000;
 	width: 100%;
 	margin-top: 70px;
 }

 .orcamento h2{
 	color: #FEC63E;
 	padding-top: 30px;
 }

 .orcamento h2:after{
 	background: #FEC63E;
 }

 .form{
 	padding-right: 60px;
 }

 .form label{
 	display: block;
 	color: #fff;
 	font-family: Georgia, serif;
 	font-size: 18px;
 	line-height: 27px;
 }

 .form input{
 	display: block;
 	width: 100%;
 	border: 4px solid #FEC63E;
 	background: none;
 	color: #fff;
 	padding: 7px 0;
 	margin-bottom: 10px;
 	outline: none;
 	font-size: 14px;
 	font-family: serif;

 }

  .form textarea{
 	display: block;
 	width: 100%;
 	height: 120px;
 	border: 4px solid #FEC63E;
 	background: none;
 	color: #fff;
 	padding: 7px 0;
 	margin-bottom: 10px;
 	outline: none;
 	font-size: 14px;
 	font-family: serif;

 }

 .form button{
 	background: none;
 	padding: 10px  44px;
 	margin: 20px 0;
 }

 .orcamento-dados{
 	color: #fff;

 }

 .orcamento-dados h3{
 	font-size: 18px;
 	color: #FEC63E;
 	padding-bottom: 7px;
 	text-transform: uppercase;
 	font-weight: bold;
 	line-height: 27px;
 }

 .orcamento-dados span{
 	display: block;
 	font-weight: bold;
 	line-height: 27px;
 	font-size: 18px;
 }


 .orcamento-dados-numero{
 	margin-bottom: 20px;
 }

 .orcamento-dados ul li{
 	background-color: gray;
 	padding: 7px 17px;
 }

 .orcamento-dados ul li:nth-of-type(even){
 	background-color: #000;
 }

 .orcamento-dados p{
 	margin-bottom: 7px;
 	font-family: serif;
 	font-size: 17px;
 }